<!--Position absolute stuff-->
<div class="h-1/2 w-4/12 -z-10 flex flex-col justify-end bg-gradient-to-b from-blue-700 absolute top-0 left-0"></div>
<div class="h-1/2 w-4/12 -z-10 flex flex-col justify-end bg-gradient-to-b from-red-700 absolute top-0 right-0"></div>

<!-- Main Page flex box-->
<div class="min-h-screen
            flex
            flex-col
            justify-between
            py-12
            z-50
">
  <div class="flex flex-col pt-8">
    <h1 class="w-full arkana-font text-center text-9xl">Andy'S</h1>
    <h1 class="w-full arkana-font text-center text-9xl">Bistro</h1>
  </div>
  <div class="flex flex-row flex-no-wrap justify-between">
    <h2 class="w-full matchbook-font text-center tracking-wide text-4xl">Catering by day</h2>
    <h2 class="w-full matchbook-font text-center tracking-wide text-4xl">Night club by... night</h2>
  </div>
  <div class="w-full h-full flex flex-col flex-wrap justify-end items-center content-center">
    <div class="w-52 h-full
                flex flex-col justify-center content-center items-center space-evenly flex-wrap
                mx-4 mt-32 -mb-12 z-30">
      <app-button [buttonText]="'About'" [url]="'/about'" class='my-2'></app-button>
      <app-button [buttonText]="'Events'" [url]="'/events'" class='my-2'></app-button>
      <app-button [buttonText]="'Menu'" [url]="'/menu'" class='my-2'></app-button>
      <app-button [buttonText]="'Green Room'" [url]="'/green-room'" class='my-2 text-green-700'></app-button>
      <app-button [buttonText]="'Book Us!!!'" [url]="'/book-us'" class='my-2'></app-button>
    </div>
  </div>
  <div class="w-full flex flex-row flex-no-wrap justify-between -mt-44">
  <app-ad [url]="'https://badabingcph.dk/'" bottomGradientColor="purple" class=""
          imgPath="assets/images/BadaBing.jpeg"></app-ad>
  <app-ad [url]="'https://www.mrgreen.com/da/'" bottomGradientColor="green" class=""
          imgPath="assets/images/mr-green.png"></app-ad>
  </div>
  <div class="matchbook-font text-center text-lg h-4 -mb-8">
    Powered by <span class="text-red-500">RagePie</span>
    and made possible by our lovely 'sponsors' <span class="text-green-500">Mr.Green</span> &
    <span class="text-purple-500">Bada Bing!</span></div>
</div>
