<div class="w-96 h-screen mx-auto py-48 flex flex-col items-center">
  <div class="text-gray-300 text-4xl">404</div>
  <div class="w-96 h-96 bg-[url('assets/images/space.png')] bg-contain bg-no-repeat bg-center"></div>
  <div class="font-bold">Ultimate sadness my friend. While your boundless sense of adventure is to be admired, it seems you've gone and got yourself lost.
  The outer fringes of the internet are a scary place, but luckily you landed on this innocent lil' page with a cute picture and a
    button to take you home. Safer travels in the future you wild explorer you :)
  </div>
  <div class="w-96 h-96 mt-4 bg-[url('assets/images/country-roads.png')] bg-contain bg-no-repeat bg-center"></div>
  <app-button class="mt-4" buttonText="Take Me Home" url="/main"></app-button>
</div>
