<app-ingredients-dialog class="fixed top-0 left-0 z-50 bg-transparent"></app-ingredients-dialog>
<app-toolbar class="fixed top-0 left-0 z-40 bg-transparent"></app-toolbar>
<app-preferences class="fixed bottom-2 right-2 z-40"></app-preferences>

<!--translate buttons-->
<div class="bg-transparent flex fixed top-3 right-3 z-40">
  <app-translation-button [language]="languages.FRENCH" [backgroundURL]="'bg-[url(assets/images/frenchy.png)]'"></app-translation-button>
  <app-translation-button [language]="languages.ENGLISH" [backgroundURL]="'bg-[url(assets/images/jacky.png)]'"></app-translation-button>
</div>

<div class="relative w-screen mx-auto flex lg:w-4/5 lg:px-48">
  <div class="pt-12 mx-auto w-full h-full flex flex-col z-30 relative">
    <div class="h-1/3 flex flex-row flex-wrap bg-white justify-start items-end">
      <div
        class="w-full text-center align-bottom arkana-font text-8xl py-6 px-4 mb-2 bg-white">
        {{($edibleMenu | async).title}}
      </div>
      <div class="w-full flex flex-row justify-evenly mb-3">
        <span class="matchbook-font text-2xl font bold">Breakfast - 10:00</span>
        <span class="matchbook-font text-2xl font bold">Lunch -  13:00</span>
        <span class="matchbook-font text-2xl font bold">Dinner -  19:00</span>
      </div>
      <p class="arkana-font text-5xl text-center w-full mt-4">{{days.SUNDAY}}</p>
      <div class="border-b-2 border-black w-1/5 mx-auto mb-6"></div>
      <div *ngFor="let category of ($edibleMenu | async).categories" class="flex flex-col w-full justify-center">
        <div *ngIf="category.day === days.SUNDAY">
          <app-menu-category [categoryTitle]="category.categoryTitle" [dishes]="category.dishes"
                             class="my-4"></app-menu-category>
          <div class="border-b-2 border-gray rounded-full w-1/4 mx-auto my-3"></div>
        </div>
      </div>
      <p class="arkana-font text-5xl text-center mt-4 w-full">{{days.MONDAY}}</p>
      <div class="border-b-2 border-black w-1/5 mx-auto mb-6"></div>
      <div *ngFor="let category of ($edibleMenu | async).categories" class="flex flex-col w-full justify-center">
        <div *ngIf="category.day === days.MONDAY">
          <app-menu-category [categoryTitle]="category.categoryTitle" [dishes]="category.dishes"
                             class="my-4"></app-menu-category>
          <div class="border-b-2 border-gray rounded-full w-1/4 mx-auto my-3"></div>
        </div>
      </div>
      <p class="arkana-font text-5xl text-center w-full mt-4">{{days.TUESDAY}}</p>
      <div class="border-b-2 border-black w-1/5 mx-auto mb-6"></div>
      <div *ngFor="let category of ($edibleMenu | async).categories" class="flex flex-col w-full justify-center">
        <div *ngIf="category.day === days.TUESDAY">
          <app-menu-category [categoryTitle]="category.categoryTitle" [dishes]="category.dishes"
                             class="my-4"></app-menu-category>
          <div class="border-b-2 border-gray rounded-full w-1/4 mx-auto my-3"></div>
        </div>
      </div>
      <p class="arkana-font text-5xl text-center w-full mt-4">{{days.WEDNESDAY}}</p>
      <div class="border-b-2 border-black w-1/5 mx-auto mb-6"></div>
      <div *ngFor="let category of ($edibleMenu | async).categories" class="flex flex-col w-full justify-center">
        <div *ngIf="category.day === days.WEDNESDAY">
          <app-menu-category [categoryTitle]="category.categoryTitle" [dishes]="category.dishes"
                             class="my-4"></app-menu-category>
          <div class="border-b-2 border-gray rounded-full w-1/4 mx-auto my-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>


