<div *ngIf="!(hidden$ | async)" class="flex flex-col flex-wrap w-44 h-77 px-6 py-6 shadow-lg rounded-br-xl bg-white justify-start relative">
  <div class="arkana-font text-4xl h-full w-44 cursor-pointer" routerLink="/main">Andy'S Bistro</div>
  <div class="w-full flex flex-col flex-no-wrap justify-end">
    <app-button [buttonText]="'About'" [url]="'/about'"></app-button>
    <app-button [buttonText]="'Events'" [url]="'/events'"></app-button>
    <app-button [buttonText]="'Menu'" [url]="'/menu'"></app-button>
    <app-button [buttonText]="'Room'" [url]="'/green-room'" class='text-green-700'></app-button>
    <app-button [buttonText]="'Book'" [url]="'/sad'"></app-button>
  </div>
</div>

<div (click)="setHidden()" *ngIf="!(hidden$ | async)"
     class="absolute cursor-pointer w-10 h-10 bottom-0 right-0 pl-1 pt-1 -rotate-45 bg-gradient-to-b from-green-600 hover:bg-gradient-to-b hover:from-green-700 hover:text-white rounded-full">
  <svg class="h-7 w-7" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
       xmlns="http://www.w3.org/2000/svg">
    <path d="M5 11l7-7 7 7M5 19l7-7 7 7" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</div>

<div (click)="setHidden()" *ngIf="(hidden$ | async)"
     class="cursor-pointer flex justify-center items-center w-12 h-12 arkana-font text-white text-3xl rounded-full bg-black shadow-xl ml-3 mt-3 hover:bg-white hover:text-black">
  A B
</div>
