<div class="matchbook-font w-full font-bold text-4xl text-center">{{categoryTitle}}</div>
<div *ngFor="let dish of dishes">
  <div *ngIf="dish.edible">
    <p (click)="openDialog(dish)" class="my-1 matchbook-font text-3xl text-center cursor-pointer max-w-fit mx-auto">{{dish.name}}</p>
  </div>
  <div *ngIf="!dish.edible">
    <p (click)="openDialog(dish)" class="my-1 line-through text-red-500 matchbook-font text-3xl text-center cursor-pointer max-w-fit mx-auto">{{dish.name}}</p>
  </div>
</div>
