<app-toolbar class="fixed top-0 left-0 z-40 bg-white"></app-toolbar>
<app-ad [url]="'https://badabingcph.dk/'" bottomGradientColor="purple" class="fixed top-0 right-0 z-10"
        imgPath="assets/images/BadaBing.jpeg"></app-ad>

<div class="relative w-screen mx-auto flex lg:w-4/5 lg:px-48">
  <div class=" pt-72 mx-auto w-full h-full flex flex-col z-30">
    <div class="h-1/3 flex flex-row flex-wrap bg-white justify-start items-end">
      <div class="w-60 h-60 shadow-lg rounded-full mb-8 bg-white bg-[url('assets/images/andy.png')] bg-cover"></div>
      <div
        class="w-full text-end align-bottom matchbook-font font-bold text-8xl py-6 px-4 mb-8 bg-white">
        Andy "Mathias" Anderson
      </div>
    </div>
    <div class="w-full px-8 matchbook-font leading-relaxed text-5xl bg-white">It all began on a legendary day 37 years ago. The day Andy Andersin was born.
      The world did not know it yet but the man who would unite the worlds of catering and partying had just entered existence.
      Fast Forward a good 27 or so years and we find a world traveled Andursen, having lived in a place in Africa for some time, and planning to go
    to New York eventually. He then came up with the idea to start his very own Bistro after dating a French girl for two weeks and spending
    an unrelated two weeks in France himself. It was self-evident that Andy's Bistro would specialize in modern French cuisine. Ananasman then grabbbed
    the 9 or so people that he knew to join him and just like that <span class="arkana-font">&nbsp; Andy'S Bistro &nbsp;</span> was born.</div>
    <div class="w-full flex justify-center mt-8 z-10 overflow-hidden">
    <app-ad [url]="'https://www.mrgreen.com/da/'" bottomGradientColor="green"
            imgPath="assets/images/mr-green.png"></app-ad>
      <app-ad [url]="'https://www.mrgreen.com/da/'" bottomGradientColor="green"
              imgPath="assets/images/mr-green.png"></app-ad>
      <app-ad [url]="'https://www.mrgreen.com/da/'" bottomGradientColor="green"
              imgPath="assets/images/mr-green.png"></app-ad>
      <app-ad [url]="'https://www.mrgreen.com/da/'" bottomGradientColor="green"
              imgPath="assets/images/mr-green.png"></app-ad>
    </div>
  </div>
</div>
