<div (click)="closeDialog()" *ngIf="(dialogOpen$ | async)" class="flex w-screen h-screen bg-gray-100/50 z-40">
  <div class="w-60 mx-auto my-auto bg-gray-300 shadow-xl rounded-sm py-4 z-40">
    <div (click)="closeDialog()" class="text-end text-4xl h-8 mb-1 -mt-3 mr-2"><span
      class="shadow-lg rounded-full bg-white cursor-pointer">&times;</span></div>
    <div class="text-center matchbook-font text-4xl font-bold break-normal">{{(selectedDish$ | async).name}}</div>
    <div *ngIf="(selectedDish$ | async).disclaimer && !(selectedDish$ | async).edible" class="text-red-500 text-center matchbook-font text-2xl">{{(selectedDish$ | async).disclaimer}}</div>
    <div class="text-center matchbook-font text-2xl font-bold">Ingredients</div>
    <div class="w-3/4 border-black border-2 rounded-full mx-auto my-3"></div>
    <div class="flex flex-col justify-start items-center">
      <ng-container *ngIf="!(selectedDish$ | async).buffet">
      <ng-container *ngFor="let ingredient of (selectedDish$ | async).ingredients">
        <div class="text-center matchbook-font text-3xl font-bold tracking-widest">{{ingredient.name}}</div>
      </ng-container>
    </ng-container>
      <ng-container *ngIf="(selectedDish$ | async).buffet">
          <div class="text-center matchbook-font text-3xl font-bold tracking-widest">{{(selectedDish$ | async).description}}</div>
      </ng-container>
    </div>
  </div>
</div>
