/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@font-face {
  font-family: "Arkana";
  src: local("Arkana"), url(assets/fonts/ArkanaScript/ArkanaScript.ttf) format("truetype");
}

.arkana-font{
  font-family: "Arkana", serif;
}

@font-face {
  font-family: "Matchbook";
  src: local("Matchbook"), url(./assets/fonts/Matchbook/Matchbook.ttf) format("truetype");
}

.matchbook-font{
  font-family: "Matchbook", serif;
}
