<button class="h-10 w-28
               matchbook-font
               text-3xl
               bold
               flex
               justify-center
               items-center
               bg-transparent
               border-none
               rounded-md
               transition ease-in-out delay-150
               hover:text-white hover:bg-green-900
               active:bg-green-700
               focus:outline-none focus:ring focus:ring-green-300
" (click)="navigate()">
  {{this.buttonText}}
</button>
